@model TechLiftCoreProjects.Models.DoctorInfo

<div>
    <h4>DoctorInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoctorDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoctorTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeptId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeptId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonEmailAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonEmailAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonContactDetail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonContactDetail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DoctorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
